run = "npm run serve"
modules = ["nodejs-18"]
entrypoint = "server.js"
onBoot = "npm install"

[interpreter]
command = ["node"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx}"

[languages.typescript]
pattern = "**/{*.ts,*.tsx}"
